version: '2'

services:
    monolith:
        image: nathejk/monolith
        restart: always
        ports:
            - 8801:81
            - 8802:82
        environment:
            DB_DSN: mysql://nathejk:kodeord@mysql/nathejk2016
            MQ_HOST: nats
            QR_GENERATOR_URL: http://qr-generator.dev.nathejk.dk
            ADMIN_PASS: password

    proxy:
        image: nathejk/proxy
        restart: always
        ports:
            - 88:80

    mysql:
        image: mariadb:10.0
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ib
            TZ: Europe/Copenhagen

    nats:
        image: nats
        restart: always

    tilmelding-bff:
        image: nathejk/tilmelding-bff
        restart: always
        ports:
            - 8803:80
        environment:
            PROXY_HOST: http://monolith:82

    sms:
        image: nathejk/sms
        restart: always
        environment:
            DB_DSN: mysql://nathejk:kodeord@mysql/sms
            MQ_DSN: nats://nats:4222
            SMS_DSN: cpsms://UN:PW@localhost/sms

    
    qr-generator:
        image: nathejk/qr-generator
        restart: always

    mail:
        image: nathejk/mail
        restart: always
        environment:
            DB_DSN: mysql://nathejk:kodeord@mysql/mail
            MQ_DSN: nats://nats:4222
            SMTP_DSN: smtp://mailcatcher:25

    mailcatcher:
        image: yappabe/mailcatcher
        restart: always
        environment:
            HTTP_PORT: 80
            SMTP_PORT: 25

    elk:
        image: sebp/elk
        restart: always
        environment:
            LOGSTASH_START: 0
